<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold fs-2">
        Notes
        <span class="fs-4"></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
  
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      </ul>
      <div class="col-md-3 text-end">
            <a href="/auth/google" type="button" class="btn btn-outline-primary me-2">sign up</a>
            <a href="/auth/google" type="button" class="btn btn-primary ">sign in</a>
      </div>
    </header>
  </div>